@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
:root {
  /* Global variables to be defined here */
  /* --color-white: #ffffff; */
  --color-primary: #ffc107;
  /* --color-btn-primary: #eb596e; */
  --color-btn-primary: #c93d1b;
  --color-black: #121212;
  --color-white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-black);
  /* min-height: 100vh; */
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* 
#root {
  height: 100%;
} */

@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 12px;
  }
}
